<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.access_control">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".ChangePassword">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="layouts.LayoutsList" />
        </activity>
        <activity android:name=".TemporaryActivity" />
        <activity android:name=".LoginMain" />
    </application>

</manifest>