<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.access_control">

    <application>
        <activity android:name=".TemporaryActivity"></activity>
        <activity android:name=".LoginMain" />
    </application>

</manifest>